.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .dialog {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}
.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
